<!-- Logos -->
<section class="bg-contrast">
  <div class="container my-5">
    <div class="row row-cols-3 row-cols-md-3 row-cols-lg-4 g-2 g-lg-3 justify-content-evenly">
      <div class="col text-center">
        <img class="my-1 client-logos" src="/assets/img/continents/africa.svg" alt="">
      </div>
      <div class="col text-center">
        <img class="my-1 client-logos" src="/assets/img/continents/asia.svg" alt="">
      </div>
      <div class="col text-center">
        <img class="my-1 client-logos" src="/assets/img/continents/europe.svg" alt="">
      </div>
      <div class="col text-center">
        <img class="my-1 client-logos" src="/assets/img/continents/antarctica.svg" alt="">
      </div>
      <div class="col text-center">
        <img class="my-1 client-logos" src="/assets/img/continents/north-america.svg" alt="">
      </div>
      <div class="col text-center">
        <img class="my-1 client-logos" src="/assets/img/continents/latin-america.svg" alt="">
      </div>
      <div class="col text-center">
        <img class="my-1 client-logos" src="/assets/img/continents/south-america.svg" alt="">
      </div>
    </div>
  </div>
</section>
