<!-- Why Geographic Diversity -->
<section id="why" class="bg-contrast">
  <div class="container py-5 my-5">
    <h2 class="h1 fw-bold mb-3 text-center">Geographic Diversity Is <u>Not</u> Optional</h2>
    <div class="row justify-content-center mt-4">
      <div class="col col-lg-10">
        <p class="mb-4">Many know geographic diversity is important for a more resilient network, but they don't understand why or just how essential it is. It's not only important &#8212; <span class="fw-bold fst-italic">it's critical</span>. In the event of a geopolitical crisis or natural disaster, nodes concentrated in a specific region face a heightened risk of compromise, potentially jeopardizing the security and availability of the network's data. [<a href="https://medium.com/archethic/from-china-to-antarctica-the-importance-of-geographical-diversity-in-blockchain-node-distribution-a6d4a366155b" target="_blank">1</a>].</p>
        <p class="mb-4">The Ethereum network is designed to operate continuously, every hour of every day, throughout the year. Blockchain networks can maintain exceptionally high uptime levels due to their decentralized nature. Any move towards greater centralization in significant aspects heightens the risk of network disruptions and potential devaluation of ETH. [<a href="https://www.hivemind.capital/content/the-importance-of-ethereum-staking-diversity" target="_blank">2</a>].</p>
        <p class="mb-4">~35% of <a href="https://ethernodes.org/countries" target="_blank">all Ethereum nodes</a> are operated in the United States. Another 14% of Ethereum nodes operate in Germany. <strong>Having this kind of geographic concentration poses significant risks.</strong></p>
        <p>While it may seem unlikely for those regions to go offline, these scenarios highlight the trade-offs that blockchain network developers must carefully evaluate when scaling their networks.</p>
      </div>
    </div>
    <div class="row justify-content-center mt-2">
      <div class="col col-lg-6 col-md-8 text-center">
        <div class="accordion" id="furtherReading">
          <div class="accordion-item">
            <h2 class="accordion-header" id="furtherReadingHeader">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFurtherReading" aria-expanded="false" aria-controls="collapseFurtherReading">
                Further reading...
              </button>
            </h2>
            <div id="collapseFurtherReading" class="accordion-collapse collapse" aria-labelledby="furtherReadingHeader" data-bs-parent="#furtherReading">
              <div class="accordion-body text-start">
                <a class="d-block my-2 text-capitalize" target="_blank"
                    href="https://mirror.xyz/jmcook.eth/S7ONEka_0RgtKTZ3-dakPmAHQNPvuj15nh0YGKPFriA">
                    Client diversity on Ethereum’s consensus layer {{site.data.icons.new_tab}}
                </a>
                <a class="d-block my-2 text-capitalize" target="_blank"
                    href="https://medium.com/prysmatic-labs/prysmatic-labs-statement-on-client-diversity-c0e3c2f05671">
                    Prysm: Statement on Client Diversity {{site.data.icons.new_tab}}
                </a>
                <a class="d-block my-2 text-capitalize" target="_blank"
                    href="https://our.status.im/the-importance-of-client-diversity/">
                    Nimbus: The Importance of Client Diversity {{site.data.icons.new_tab}}
                </a>
                <a class="d-block my-2 text-capitalize" target="_blank"
                    href="https://lighthouse.sigmaprime.io/switch-to-lighthouse.html">
                    Lighthouse: Why You Should Switch to Lighthouse {{site.data.icons.new_tab}}
                </a>
                <a class="d-block my-2 text-capitalize" target="_blank"
                    href="https://medium.com/chainsafe-systems/on-client-diversity-in-decentralized-networks-848aeedfb49d">
                    Chainsafe: Client Diversity in Decentralized Networks {{site.data.icons.new_tab}}
                </a>
                <a class="d-block my-2 text-capitalize" target="_blank"
                    href="https://www.reddit.com/r/ethstaker/comments/ptm04i/the_financial_incentive_to_run_a_minority_client/">
                    The financial incentive to run a minority client {{site.data.icons.new_tab}}
                </a>
                <a class="d-block my-2 text-capitalize" target="_blank"
                    href="https://www.symphonious.net/2021/09/23/what-happens-if-beacon-chain-consensus-fails/">
                    What Happens If Beacon Chain Consensus Fails? {{site.data.icons.new_tab}}
                </a>
                <a class="d-block my-2 text-capitalize" target="_blank"
                    href="https://upgrading-ethereum.info/altair/part2/incentives/diversity">
                    Ben Edgington on diversity, scenarios, and penalties {{site.data.icons.new_tab}}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>